<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resource/css/style2.css">
</head>
<body>
    <div class="icono-menu">
        <img src="resource/img/open-menu.png" alt="Texto alternativo2" id="icono-menu">
    </div>
    <div class="cont-menu active" id="menu">
        <ul>
            <li> Home </li>
            <li> About </li>
            <li> Info </li>
            <li> Contact </li>
            <li> Show me more </li>
        </ul>
    </div>
    <div>
        <h1>Texto de pruebas con boton</h1>
        <a class="miLink">Prueba para funcion</a>
        <button onclick="miFuncion();">Press</button>
    </div>       
    <script src="resource/js/menu.js"></script>
</body>
</html>