<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resource/css/style2.css">
</head>
<body>
    <div class="icono-menu">
        <ul>
            <img src="resource/img/open-menu.png" alt="Texto alternativo2" id="icono-menu">
            <a id="titulo"><strong>Sistema de Gestión administrativo para un DRO</strong></a>
            <input type="submit" class="logout" id="logout" value="Cerrar Sesión">
        </ul>
        
    </div>
    <div class="cont-menu active" id="menu">
        <ul>
            <input type="submit" class="btn-save" value="Inicio">
            <input type="submit" class="btn-save" value="Responsivas">
            <input type="submit" class="btn-save" value="Consultas">
            <input type="submit" class="btn-save" value="Leyes y Reglamentos">
            <input type="submit" class="btn-save" value="Documentación">
            <input type="submit" class="btn-save" value="Acerca de">
        </ul>
    </div>
    <div>
        <h1>Texto de pruebas con boton</h1>
        <a class="miLink">Prueba para funcion</a>
        <button onclick="miFuncion();">Press</button>
    </div>       
    <script src="resource/js/menu.js"></script>
</body>
</html>