<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="resource/img/alexcgdesign.png" type="image/x-icon">
    <link rel="stylesheet" href="resource/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="icono-menu">
            <ul>
                <img src="resource/img/open-menu.png" alt="Texto alternativo2" id="icono-menu">
                <a id="titulo"><strong>Sistema de Gesti칩n administrativo para un DRO</strong></a>
                <input type="submit" class="logout" id="logout" value="Cerrar Sesi칩n">
            </ul>
            
        </div>
        <div class="cont-menu active" id="menu">
            <ul>
                <input type="submit" class="btn-save" value="Inicio">
                <input type="submit" class="btn-save" value="Responsivas">
                <input type="submit" class="btn-save" value="Consultas">
                <input type="submit" class="btn-save" value="Leyes y Reglamentos">
                <input type="submit" class="btn-save" value="Documentaci칩n">
                <input type="submit" class="btn-save" value="Acerca de">
            </ul>
        </div>

        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Potencia tus ventas al menos un 200%</h1>
            <h2>Con una p치gina web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>

    
    <div>
        <h1>Texto de pruebas con boton</h1>
        <a class="miLink">Prueba para funcion</a>
        <button onclick="miFuncion();">Press</button>
    </div>
    
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>8296312</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy;  Design | TT</h2>
    </footer>
    <script src="resource/js/menu.js"></script>
</body>
</html>