<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informes</title>
    <link rel="shortcut icon" href="resource/img/alexcgdesign.png" type="image/x-icon">
    <link rel="stylesheet" href="resource/css/style2.css">
    <link rel="stylesheet" href="resource/css/informes.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="contenedor-principal">
        <header>
            <a href="#" class="brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                  </svg>
            </a>
            <nav class="menu">
              <div class="btn">
                <i class="fas fa-times close-btn"></i>
              </div>
              <ul>
                <a href="/inicio">Inicio</a>
                <a href="/responsivas">Registrar Responsivas</a>
                <a href="/consultas">Consultas</a>
                <a href="/informes">Informes</a>
                <a href="/reglamento">Leyes y Reglamentos</a>
                <a href="/logout">Cerrar sesión</a>
              </ul>
            </nav>
            <div class="btn">
              <i class="fas fa-bars menu-btn"></i>
            </div>
        </header>

        
        

        <div class="centro">
            <h1>Generar Informes</h1>
            <form class="form-1">
                <fieldset>
                    <legend><strong>Generar informe de responsivas</strong></legend>
                    
                        <a>Período: </a>
                        <input list="tipos" class="lista" placeholder="Seleccionar período">
                        <datalist id="tipos" >
                            <option>20xx- </option>
                            <option>199x- </option>
                            <option>198x- </option>
                        </datalist><br>

                        <a>Grupo :_  </a>                    
                        <input list="tipos" class="lista" placeholder="Seleccionar un grupo">
                        <datalist id="tipos" >
                            <option> ----- </option>
                        </datalist>   <br>
                    
                        <a class="radio-1">Incluir responsivas vencidas</a>
                        <input type="radio" class="radio-2" >  <br>
                    
                        <a class="radio-1">Datos complementarios</a>
                        <input type="radio" class="radio-2" >  
                    
                    <button class="boton-informe" type="submit">Generar informe</button>
                    
                </fieldset>
            </form>
            <div class="cont-centro">
                
                <embed src="resource/pdf/prueba.pdf" type="application/pdf" width="100%" height="600px"/>



                <p>Ventana visual PDF</p>
            </div>
        </div>
        
        <div class="footer">
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Phone</h4>
                    <p>8296312</p>
                </div>
                <div class="content-foo">
                    <h4>Email</h4>
                    <p>8296312</p>
                </div>
                <div class="content-foo">
                    <h4>Location</h4>
                    <p>8296312</p>
                </div>
            </div>
            <h2 class="titulo-final">&copy;  Design | TT</h2>
        </div>
    </div>
    <script src="resource/js/menu.js"></script>
</body>
</html>