<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsivas</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="resource/img/alexcgdesign.png" type="image/x-icon">
    <link rel="stylesheet" href="resource/css/style2.css">
    <link rel="stylesheet" href="resource/css/responsivas.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="contenedor-principal">
        <header>
            <a href="#" class="brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                  </svg>
            </a>
            <nav class="menu">
              <div class="btn">
                <i class="fas fa-times close-btn"></i>
              </div>
              <ul>
                  <a href="/inicio">Inicio</a>
                  <a href="/responsivas">Registrar Responsivas</a>
                  <a href="/consultas">Consultas</a>
                  <a href="/informes">Informes</a>
                  <a href="/reglamento">Leyes y Reglamentos</a>
                  <a href="/logout">Cerrar sesión</a>
              </ul>
            </nav>
            <div class="btn">
              <i class="fas fa-bars menu-btn"></i>
            </div>
        </header>

        
        <div class="centro">
            <legend><strong> Ingresar nueva responsiva </strong></legend><br/><br/> 
            <form action="responsivas" class="formulario" id="formulario" method="POST">
                <legend><strong> Datos de la responsiva </strong></legend>
                <div class="grupo-1">
                    <!-- Grupo: Nombre de la responsiva -->
                    <div class="formulario__grupo" id="grupo__nombre">
                        <label for="nombre" class="formulario__label">Nombre de la responsiva</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Nombre" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 5 a 10 letras, puede contener 'numeros' y '/' </p>
                    </div>
    
                    <!-- Grupo: Primer emision -->
                    <div class="formulario__grupo" id="grupo__emision">
                        <label for="emision" class="formulario__label">Fecha de emisión</label>
                        <div class="formulario__grupo-input">
                            <input type="date" class="formulario__input" name="emision" id="emision" placeholder="Dia/Mes/Año" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
    
                    <!-- Grupo: Segundo apellido -->
                    <div class="formulario__grupo" id="grupo__vigencia">
                        <label for="vigencia" class="formulario__label">Vigencia</label>
                        <div class="formulario__grupo-input">
                            <input type="date" class="formulario__input" name="vigencia" id="vigencia" placeholder="Dia/Mes/Año" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: periodo -->
                    <div class="formulario__grupo" id="grupo__periodo">
                        <label for="periodo" class="formulario__label">Período</label>
                        <div class="formulario__grupo-input">
                            <input list="lis" type="text" class="formulario__input" name="periodo" id="periodo" placeholder="Ingresar período" >
                            <datalist id="lis">
                                <% results.forEach((element,index) => { %>
                                <option><%= element.resp_grupo%> </option>
                                <% }) %>
                            </datalist>
                            
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                </div><!--Grupo 1-->

                <div class="grupo-2">
                    <legend><strong> Domicilio del predio </strong></legend>
                    <!-- Grupo: C -->
                    <div class="formulario__grupo" id="grupo__cp">
                        <!--<label for="cp" class="formulario__label"></label>-->
                        <div class="grupo_domicilio formulario__grupo-input">
                            <input type="text" class="domicilio_input formulario__input" name="cp" id="cp" placeholder="Codigo postal" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: calle -->
                    <div class="formulario__grupo" id="grupo__calle">
                        <div class="formulario__grupo-input">
                            <input type="text" class="domicilio_input formulario__input" name="calle" id="calle" placeholder="Calle" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: exterior -->
                    <div class="formulario__grupo" id="grupo__exterior">
                        <div class="formulario__grupo-input">
                            <input type="text" class="domicilio_input formulario__input" name="exterior" id="exterior" placeholder="Número Exterior" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: interior -->
                    <div class="formulario__grupo" id="grupo__interior">
                        <div class="formulario__grupo-input">
                            <input type="text" class="domicilio_input formulario__input" name="interior" id="interior" placeholder="Número Interior">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: colonia -->
                    <div class="formulario__grupo" id="grupo__colonia">
                        <div class="formulario__grupo-input">
                            <input type="text" class="domicilio_input formulario__input" name="colonia" id="colonia" placeholder="Colonia">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: alcaldia -->
                    <div class="formulario__grupo" id="grupo__alcaldia">
                        <div class="formulario__grupo-input">
                            <input list="dele" type="text" class="domicilio_input formulario__input" name="alcaldia" id="alcaldia" placeholder="Seleccione Alcaldía" >
                            <datalist id="dele">
                                <option>Azcapotzalco</option>
                                <option>Álvaro Obregón</option>
                                <option>Benito Juárez</option>
                                <option>Alcaldía Coyoacán</option>
                                <option>Cuajimalpa de Morelos</option>
                                <option>Cuauhtémoc</option>
                                <option>Gustavo A. Madero</option>
                                <option>Iztacalco</option>
                                <option>Iztapalapa</option>
                                <option>La Magdalena Contreras</option>
                                <option>Miguel Hidalgo</option>
                                <option>Tlalpan</option>
                                <option>Tláhuac</option>
                                <option>Venustiano Carranza</option>
                                <option>Xochimilco</option>
                            </datalist>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El apellido tiene que ser de 4 a 16 dígitos y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                </div><!--Grupo 2-->

                <div class="grupo-3">
                    <!-- Grupo: Nombre de la responsiva -->
                    <legend><strong> Detalles de la resposiva </strong></legend>
                    <div class="formulario__grupo" id="grupo__catastro">
                        <label for="catastro" class="formulario__label">Cuenta Catastral</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="catastro" id="catastro" placeholder="123-456-78-" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo:Tipos de resposivas  -->
                    <div class="formulario__grupo" id="grupo__tipos">
                        <label for="tipos" class="formulario__label">Tipo</label>
                        <div class="formulario__grupo-input">
                            <input list="lis_tipos" type="text" class="formulario__input" name="tipos" id="tipos" placeholder="Seleccione ---" >
                            <datalist id="lis_tipos" >
                                <option>Manifestación tipo "B" </option>
                                <option>Manifestación tipo "C" </option>
                                <option> ESPECIALES y OTRAS RESPONSIVAS</option>
                            </datalist>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo:Tipos de resposivas  -->
                    <div class="formulario__grupo" id="grupo__manifes">
                        <label for="manifes" class="formulario__label">Manifestación tipo "B" ó "C"</label>
                        <div class="formulario__grupo-input">
                            <input list="lis_manifes" type="text" class="formulario__input" name="manifes" id="manifes" placeholder="Seleccione ---" >
                            <datalist id="lis_manifes" >
                                <option>No aplica</option>
                                <option>Obra nueva</option>
                                <option>Ampliación</option>
                                <option>Modificación</option>
                                <option>Reparación</option>
                                <option>Barda (mayor de 2.50 m. de altura)</option>
                                <option>Prórroga, (indicar % avance)</option>
                                <option>Uso y ocupación</option>
                            </datalist>  
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo:Tipos de resposivas  -->
                    <div class="formulario__grupo" id="grupo__licencias">
                        <label for="licencias" class="formulario__label">Licencia de construcción especial</label>
                        <div class="formulario__grupo-input">
                            <input list="lis_licencias" type="text" class="formulario__input" name="licencias" id="licencias" placeholder="Seleccione ---" >
                            <datalist id="lis_licencias">
                                <option>No aplica</option>
                                <option>Edificaciones en suelo de conservación</option>
                                <option>Estaciones repetidoras de comunicación celular o inalámbrica</option>
                                <option>Instalaciones subterráneas o aéreas en la vía pública</option>
                                <option>Demolición</option>
                                <option>Excavaciones o cortes cuya profundidad sea mayor de 1m</option>
                                <option>Tapiales que invadan la acera en una medida superior a 0.5 m</option>
                                <option>Obras o instalaciones temporales</option>
                                <option>Instalaciones o modificaciones en edificaciones existentes(ascensores, escaleras mecánicas)</option>
                            </datalist>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                     <!-- Grupo: Nombre de la responsiva -->
                     <div class="formulario__grupo" id="grupo__uso">
                         <label for="uso" class="formulario__label">Destino de la Edificación</label>
                         <div class="formulario__grupo-input">
                             <input type="text" class="formulario__input" name="uso" id="uso" placeholder="Describir el uso del inmueble" >
                             <i class="formulario__validacion-estado fas fa-times-circle"></i>
                         </div>
                         <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                     </div>
                     <!-- Grupo: m_predio -->
                     <div class="formulario__grupo" id="grupo__m_predio">
                        <label for="m_predio" class="formulario__label">Superficies</label>
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="m_predio" id="m_predio" placeholder="Del predio m2" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>      
                    <!-- Grupo: m_responsiva -->
                    <div class="formulario__grupo" id="grupo__m_responsiva">
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="m_responsiva" id="m_responsiva" placeholder="De la responsiva m2" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>            
                    <!-- Grupo: SNB -->
                    <div class="formulario__grupo" id="grupo__snb">
                        <label for="snb" class="formulario__label">Número de niveles</label>
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="snb" id="snb" placeholder="Sobre nivel de banqueta" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: Sotanos -->
                    <div class="formulario__grupo" id="grupo__sotanos">
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="sotanos" id="sotanos" placeholder="Sotantos" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                     <!-- Grupo: Nombre de la responsiva -->
                     <div class="formulario__grupo" id="grupo__viviendas">
                        <label for="viviendas" class="formulario__label">Número de viviendas</label>
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="viviendas" id="viviendas" placeholder="Ingresa el número" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: Nombre de la responsiva -->
                    <div class="formulario__grupo" id="grupo__cajones">
                        <label for="cajones" class="formulario__label">Número de Cajones de Estacionamiento</label>
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="cajones" id="cajones" placeholder="Ingresa el número" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo:Tipos de resposivas  -->
                    <div class="formulario__grupo" id="grupo__conservacion">
                        <label for="conservacion" class="formulario__label">Area de Conservacion Patrimonial o Histórica</label>
                        <div class="formulario__grupo-input">
                            <input list="s/n" type="text" class="formulario__input" name="conservacion" id="conservacion" placeholder="Seleccione ---" >
                            <datalist id="s/n">
                                <option>Si </option>
                                <option>No </option>
                            </datalist>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                     <!-- Grupo: Nombre de la responsiva -->
                     <div class="formulario__grupo" id="grupo__estaciones">
                        <label for="estaciones" class="formulario__label">Estaciones Repetidoras</label>
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="estaciones" id="estaciones" placeholder="Estaciones Repetidoras" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: antenas -->
                    <div class="formulario__grupo" id="grupo__antenas">
                        <div class="formulario__grupo-input">
                            <input type="number" class="formulario__input" name="antenas" id="antenas" placeholder="Número de Antenas" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                    <!-- Grupo: Nombre de la responsiva -->
                    <div class="formulario__grupo" id="grupo__observaciones">
                        <label for="observaciones" class="formulario__label">Observaciones</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="observaciones" id="observaciones" placeholder="(en su caso avance de obra %, si se cuenta con autorización de uso y ocupación así manifestarlo)" >
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                    </div>
                </div><!--Grupo-3-->
                <div class="grupo-4">
                    <legend><strong>Datos del propietario del predio </strong></legend>
                    <!-- Grupo: Nombre de la responsiva -->
                    <div class="entrada"> 
                        <div class="formulario__grupo-input radio botones_radio">                
                            <input onclick="moral()" class="input-entrada" type="radio" name="sexo" id="hombre">
                            <label class="formulario__label"  for="hombre">Persona Moral</label>
                    
                            <input onclick="fisica()" class="input-entrada" type="radio" name="sexo" id="mujer" >
                            <label class="formulario__label" for="mujer">Persona Física</label>

                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        
                        <div class="formulario__grupo" id="grupo__razon">
                            <label for="razon" class="formulario__label">datos</label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="ocultar formulario__input" name="razon" id="razon" placeholder="Razón Social" >
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                        </div>
                        <!-- Grupo: propietario -->
                        <div class="formulario__grupo" id="grupo__propietario">
                            <div class="formulario__grupo-input">
                                <input type="text" class="ocultar formulario__input" name="propietario" id="propietario" placeholder="Nombre">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                        </div>
                        <!-- Grupo: prop_apellido_1 -->
                        <div class="formulario__grupo" id="grupo__prop_apellido_1">
                            <div class="formulario__grupo-input">
                                <input type="text" class="ocultar formulario__input" name="prop_apellido_1" id="prop_apellido_1" placeholder="Apellido paterno">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                        </div>
                        <!-- Grupo: prop_apellido_2 -->
                        <div class="formulario__grupo" id="grupo__prop_apellido_2">
                            <div class="formulario__grupo-input">
                                <input type="text" class="ocultar formulario__input" name="prop_apellido_2" id="prop_apellido_2" placeholder="Apellido materno" >
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                        </div>
                        <!-- Grupo: telefono -->
                        <div class="formulario__grupo" id="grupo__telefono">
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="Telefono">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El nombre tiene que ser de 3 a 16 letras y NO puede contener numeros ni caracteres especiales</p>
                        </div>
                        <!-- Grupo: rfc -->
                        <div class="formulario__grupo" id="grupo__rfc">
                            <div class="formulario__grupo-input">
                                <input  type="text" class="formulario__input" name="rfc" id="rfc" placeholder="RFC" onkeyup="javascript:this.value=this.value.toUpperCase();" >
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">Mucha gente escribe un guión entre el rfc y la homoclave

                                Valida:
                                ORP830422DI6
                                ORP830422-DI6
                                ORP830422</p>
                        </div>
                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                        </div>
                    </div>
                </div><!--grupo-4-->
                <div class="formulario__grupo formulario__grupo-btn-enviar gap">
                    <input type="submit" class="formulario__btn enviar" id="enviar" value="Enviar" >
                    <a  class="formulario__btn cancelar" href="/">Cancelar</a>
                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                </div>
            </form>
        </div><!--Div Centro-->
        <div class="footer">
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Phone</h4>
                    <p>8296312</p>
                </div>
                <div class="content-foo">
                    <h4>Email</h4>
                    <p>8296312</p>
                </div>
                <div class="content-foo">
                    <h4>Location</h4>
                    <p>8296312</p>
                </div>
            </div>
            <h2 class="titulo-final">&copy;  Design | TT</h2>
        </div>
    </div>
    <script src="resource/js/responsivas.js"></script>
    <script src="resource/js/menu.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>