*{
    color: whitesmoke;
}


h1{
    font-size: 16px;
    width: 90%;
    font-size: 25px;
    color: whitesmoke;
    margin-top: 100px;
    padding-left: 2%;
    text-align: center;
}
.centro{
    
    width: 90%;
    margin: 10px auto;
    font-size: 15px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    
}

.cont-centro{
    margin-top: 50px;
    font-size: 18px;
    background-color: rgba(128, 124, 123, 0.788);
    height: 800px;
    width: 95%;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.form-1{
    margin-top: 50px;
    background-color: rgba(128, 124, 123, 0.788);
    width: 95%;
    border-radius: 40px;
    padding: 25px;
    align-items: flex-end;
}

fieldset {
    border-radius: 41px;
    padding: 20px;
}

.form-1 a{
    padding: 15px;
    width: 50%;
}

.lista{
    width: 500px;
}

.form-1 input{
    padding: 5px;
    text-align: center;
    width: 50%;
}

.radio-2{
    align-items: initial;
}

.boton-informe{
    background-color: rgb(42, 143, 38);
    width: 100px;
    margin-left: 900px;
}