


h1{
    font-size: 16px;
    width: 90%;
    font-size: 25px;

    margin: 110px auto;
    padding-left: 2%;
    text-align: center;
}
.centro{
    
    width: 90%;
    margin: 10px auto;
    font-size: 15px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    
}

.cont-centro{
    margin-top: 50px;
    font-size: 18px;
    background-color: rgba(128, 124, 123, 0.788);
    height: 800px;
    width: 95%;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}