body{
    font-family: 'Roboto', sans-serif;
}

h1{
    width: 90%;
    margin-top: 115px;
    font-size: 25px;
    padding-left: 7%;
}

.hello{
    color:#AD0011;
}

.centro{
    width: 90%;
    margin: 10px auto;
    font-size: 15px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    
}
.cont-centro{
    background-color: rgba(128, 124, 123, 0.5);
    border-radius: 15px;
    width: 90%;
}

.slider{
    width: 780px;
    height: auto;
	margin: 10px auto 0;
	overflow: hidden;
}
.slider ul{
    display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}
.slider li{
    width: 100%;
	list-style: none;
}
.slider img{
    width: 100%;
}
.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

  .centro-1{

    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    background-color: rgba(128, 124, 123, 0.5);
    height: 400px;
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.miLink{
    font-size: 18px;
    background-color: rgba(40, 216, 34, 0.781);
    width: 30%;
    height: 10%;
    
}