body{
    font-family: 'Roboto', sans-serif;
}

h1{
    width: 90%;
    margin-top: 115px;
    font-size: 25px;
    padding-left: 7%;
}

.centro{
    width: 90%;
    margin: 10px auto;
    font-size: 15px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    
}
.cont-centro{
    font-size: 18px;
    background-color: rgba(128, 124, 123, 0.788);
    height: 450px;
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}



.centro-1{

    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    background-color: rgba(128, 124, 123, 0.5);
    height: 400px;
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.miLink{
    font-size: 18px;
    background-color: rgba(40, 216, 34, 0.781);
    width: 30%;
    height: 10%;
    
}
