* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: mintcream;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 10px;
  border-radius: 30px; 
}

legend{
  text-align: center;
}

.formulario {
  margin: auto;
  width: 70%;
	background-color:#678580;
  border-radius: 30px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  gap:20px;

  padding: 15px;
  

}

.grupo-1,
.grupo-2,
.grupo-3,
.grupo-4{
  padding: 20px;
}

.formulario__grupo_terminos:hover{
  background-color:#97a09f;
  border-radius: 30px;
}





.formulario__grupo{
  background-color:#93aaa6;
  padding: 2px;
  border-radius: 30px;  
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 7px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	height: 45px;
	line-height: 45px;
	padding: 0 0px 0 10px;
	transition: .3s ease all;
  border-radius: 30px;  
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 13px;
	font-weight: bolder;
	margin-top: 0;
	margin-bottom: 15px;
	display: none;
	padding: 5px;
}

.formulario__input-error-activo {
	display: block;
}

/*
.formulario__ojo__izquierda {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}

.formulario__ojo__derecha {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
*/




.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 99%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
    background-color: orangered;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

.a_terminos{

	color:#000;
}

.a_terminos:hover{
	color: rgb(46, 104, 28);
}

.gap{
	padding: 5px;
	gap: 10px;
}

.cancelar{
	text-align: center;
	width: 75%;
	text-decoration: none;
}

.cancelar:hover{
	color: #be3636;
}

.enviar:hover{
	color: #47b347;
}