*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

/* Estilos para el ícono del Menú */
.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 80px;
    cursor: pointer;
}

#icono-menu {display:inline-block; ; padding:10px}
#titulo {display:inline-block; padding:10px}
#logout {display:inline-block; padding:10px}

.icono-menu ul a{
    vertical-align: top;
    height: 80px;
    background-color: crimson;
    text-align: center;
    text-justify: distribute-all-lines;
}

.icono-menu ul input{
    vertical-align: top;
    height: 80px;
    padding-right: 500px;
    background-color: crimson;
}


/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 350px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}



/* Estilos por agregar en JavaScript */
.active{
    transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 2px 0px;
    list-style: none;
}

.cont-menu ul input{
    color: black;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul input:hover{
    background-color: rgb(82, 82, 121);
    color: rgb(56, 60, 82);
}


