*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}
  
body{
    min-height: 100vh;
    background-color:midnightblue;
}
  
.letra-capit { text-transform: capitalize;}   
.mayus { text-transform: uppercase;}   
.minus { text-transform: lowercase;}


/*Estilos para el header*/
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6s;
}

header.down{
  background: #1483D5;
  padding: 15px 80px;
}

.brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.menu{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu a{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 3px 7px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
    text-align: center;
}


.menu a:hover{
  color: #000;
  background-color: rgb(162, 155, 236) ;
}

.section-two{
  padding: 20px;
}

.btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px){
  header, header.down{
  	padding: 20px 40px;
  }
  .btn{
    display: block;
  }

  .menu{
    position: fixed;
    background:#1483D5;
    min-width: 330px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  .menu ul{
	  flex-direction: column;
	}

  .menu.active{
    right: 0;
  }

  .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 600px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}









/* footer */

.footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    height: 20%;    

}

.contenedor-footer{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #e2429a;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}